a, img{
	border:none;
}

body{
	font-family:arial, sans-serif;
	font-size:12px;
	background-color:#ffffff;
	/*background:#f3f3f3 url("../img/bg.png") repeat-x;*/
}

hr{border-top: 2px solid #333333;margin: 25px 0 0;height: 2px;}
.clear{
	clear:both;
}

#wrapper{
	width:1000px;
	margin:0 auto;
}

#header{
	margin-top:20px;
}

#masthead{
	float:left;
}

#header-forms{
	float:right;
}

#masthead a{
	background: url(../img/logo-main-sectigo.png);
	display: block;
	width: 196px;
	height: 56px;
	text-indent: -9999px;
	margin-top:15px;
}


.txt{
	float:left;
}

.search-form{
	float:left;
}

.search-field{
	margin-top:px;
	padding-left:5px;
	border:1px solid #d9d9d9;
	color:#afafaf;
	font-size:12px;
	line-height:18px;
}

.go {
cursor: pointer;
border: none;
width: 30px;
height: 22px;
text-indent: -9999px;
margin-left: 2px;
background: #990000 url(../img/search-form.png) no-repeat -181px 0;
float:left;
}

.f-l{
	float:left;
}
.f-r{
	float: right;
}
#info-nav {
background: url(../img/info-nav-bg.png) no-repeat top left;
padding:0;
float:right;
}

ul.nav{
	list-style: none;
	float:right;
	padding:0px;
}

#info-nav li {
background: url(../img/10gray.gif) no-repeat right center;
padding-right: 11px;
float:left;
}

#info-nav a, #info-nav a:visited {
color: #929292;
margin-left: 11px;
text-decoration:none;
}

#info-nav a:hover{
	text-decoration: underline;
}

#info-nav li.last {
background: none;
}

#content{
	padding-bottom:30px;
	border-bottom: 1px solid #e5e5e5
}

#content h1{
	color:#17955f;
	font-size:22px;
	font-weight: normal;
	margin-bottom:0px;
}
.banner-text h1{
	color: #f8bf03!important;
	padding:0px;
	margin:0px;
	}

#content span {
    color: #333333;
    font-size: 17px;
    font-weight: normal;
    margin-top: 5px;
}	
#content h2{
	color:#333333;
	font-size: 17px;
	font-weight: normal;
	margin-top:5px;
}

.banner{
	width:100%;
	height:318px;
	background:#333;
	margin-top:25px;
}
.bannerImg{float: left;}
.banner-img{
	height:318px;
	background:url('../img/banner-img.png');
	width:480px;
	float:left;
}


.banner-text{
	font-size: 14px;
	color:#e9e5e5;
	line-height: 19px;
	padding-top:20px;
	padding-right:15px;
	width: 480px;
	float: left;

}

.banner-text ul{
	line-height:25px;
	list-style-image: url("../img/point.png");
	margin-left:-20px;
}

.banner-text ul.yellow-bullet{
	list-style-image: url("../img/yellow-box.png");
}

.banner-text a{
	display:block;
	background: url("../img/btn.png");
	width:225px;
	height:35px;
	color:#333333;
	text-decoration: none;
	font-size: 18px;
	padding-top: 18px;
	margin-top:15px;
	margin-left: 10px;
	text-align: center;
	float: left;
}
.banner-text a:hover{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter: alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity: 0.8;opacity: 0.8;}
.banner-text a.yellow-btn{
	display:block;
	background: none;
	background-color:#f8bf03;
	width:225px;
	height:35px;
	color:#333333;
	text-decoration: none;
	font-size: 18px;
	padding-top: 18px;
	margin-top:15px;
	margin-left: 10px;
	text-align: center;
	float: left;
}
.banner-text .greenBorderBtn{
	display:block;
	background-color: transparent;
	background-image: none;
	width:225px;
	height:35px;
	color:#a7d40d;
	text-decoration: none;
	font-size: 18px;
	padding-top: 18px;
	margin-top:15px;
	margin-left: 10px;
	text-align: center;
	border: 1px solid #a7d40d;
	float: left;
}
.banner-text .yellowBorderBtn{
	display:block;
	background-color: transparent;
	background-image: none;
	width:225px;
	height:35px;
	color:#f8bf03;
	text-decoration: none;
	font-size: 18px;
	padding-top: 15px;
	margin-top:15px;
	margin-left: 10px;
	text-align: center;
	border: 2px solid #f8bf03;
	float: left;
}
.blocks{
	margin-top:30px;
}

#content p.pra {
    color: #17955f;
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 0px;
}

.new-stl h2 {
    color: #333!important;
    display: block!important;
    font-size: 22px!important;
    font-weight: normal!important;
    margin-top: 12px!important;
    text-align: center!important;
}
.blocks h3{
	font-size:22px;
	color:#333;
	font-weight: normal;
	margin-top:12px;
	display: block;
	text-align: center;
}

.blocks a.h3-link {
    color: #333;
    display: block;
    float: none;
    font-size: 22px;
    font-weight: normal;
    margin-top: 12px;
	margin-bottom: 20px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    width: auto;
}

.blocks a.h3-link:hover {
	text-decoration: underline;
}

.blocks a {
    display: block;
    float: left;
    margin-left: 21px;
    margin-top: 35px;
    padding-bottom: 40px;
    width: 170px;
}

.blocks p{
	padding-right: 20px;
	color: #333;
	line-height: 16px;
}

.left-block, .right-block{
	width:453px;
	height:283px;
	background: url("../img/block.png") no-repeat
}

.left-block{
	float:left;
	margin: 0 0 20px 30px;
}

.right-block{
	float:right;
	margin: 0 30px 20px 0;
}

.fullBlock{background:#ffffff;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;border:1px solid #dfdfdf;margin: 0 0 30px; }
.topBlock{padding: 40px 28px;min-height: 95px;}
.fullBlock .topBlock .txt{float: left;width: 489px;margin: 0;padding:0;color: #555555;font-style: italic;font-size: 15px;}
.fullBlock .topBlock .txt p{margin: 0px; padding: 0px;line-height: 1.5;}
.fullBlock .topBlock .cert{float: left;padding: 0 0 0 125px;}
.fullBlock .topBlock .cert ul{margin: 0px; padding: 0px;}
.fullBlock .topBlock .cert ul li{float: left;list-style: none;padding: 0 20px 0 0;}
.blocks .leftBlock, .blocks .rightBlock{background:#ffffff;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;border:1px solid #dfdfdf;width: 473px;float: left;min-height: 463px;}
.blocks .insideBlock{background:#fcfcfc;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;border:1px solid #dfdfdf;padding: 30px 22px;margin: 5px;}
.blocks .insideBlock p{margin: 0px; padding: 0 0 30px;color: #555555;}
.blocks .insideBlock a{color: #4796cd;}
.blocks .insideBlock .img, .blocks .insideBlock .text{min-height: 95px;float: left;}
.blocks .insideBlock .img{width: 126px;}
.blocks .insideBlock .text{width: 800px;padding: 0 0 0 15px;}
.blocks .insideBlock hr{border-top: 1px dashed #ddd;border-bottom: 1px dashed #fff;border-left:none; border-right:none;margin: 0 0 25px; padding: 0px;}
.blocks .insideBlock .news p{padding: 0 0 0 30px; margin: 0px;font-size: 10px; color: #999999;}
.blocks .insideBlock .news p a{display: none;}
.blocks .insideBlock .news h4{margin: -12px 0 25px;padding: 16px 0 25px 30px;font-size: 12px;border-bottom:1px dashed #d7d7d7;background: url("/img/news-bullet.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); }
.blocks .insideBlock .news h4 a{color:#438ac3;}
.blocks .leftBlock{margin: 0 30px 0 0;}
.blocks .leftBlock sup, .blocks .rightBlock sup, .blocks .fullBlock sup{line-height: 0;}
.blocks .leftBlock a, .blocks .rightBlock a, .blocks .fullBlock a{display: inline;float: none;margin: 0px;width: 100%;}
.blocks .leftBlock .heading, .blocks .rightBlock .heading, .blocks .fullBlock .heading{margin: 0px; padding: 15px 0 15px 28px;}
#footer{
	font-size: 11px;
	color:#999;
}

#footer ul{
	list-style:none;
	
}

#footer ul li{
	float:left;
	margin-left:7px;
	margin-right: 7px;
	line-height:22px;
}

#footer ul li a{
	color:#999;
	text-decoration: none
}

#footer ul li a:hover{
	text-decoration: underline;
	color:#666;
}

.ssl-certificates{
	float:left;
	margin-top:15px;
}

.footer-menu{
	margin-left: 15pxpx;
	margin-right: 20px;
	text-align: center;
	width: 500px;
	float:left;
}

.footer-menu-2{
	margin-top: 20px
}

.copyright{
padding: 0px 46px;
}

.connected{
	float:right;
	margin-top:30px;
}

.connected a{
	display:block;
	height:20px;
	width:20px;
	float:left;
	margin-right: 5px
}

.fb{
	background: url("../img/facebook.png") no-repeat
}

.goo{
	background: url("../img/google.png") no-repeat
}

.In{
	background: url("../img/linkedin.png") no-repeat
}

.Tw{
	background: url("../img/twitter.png") no-repeat
}

.tbox {position:absolute; display:none; padding:14px 17px; z-index:900}
.tinner {padding:15px; -moz-border-radius:5px; border-radius:5px; background:#fff url(../img/preload.gif) no-repeat 50% 50%; border-right:1px solid #333; border-bottom:1px solid #333}
.tmask {position:absolute; display:none; top:0px; left:0px; height:100%; width:100%; background:#000; z-index:800}
.tclose {position:absolute; top:0px; right:0px; width:30px; height:30px; cursor:pointer; background:url(../img/close.png) no-repeat}
.tclose:hover {background-position:0 -30px}



/*---  Installation TrustLogo Steps  --------------------------------------------------------------------------------------*/

.install-trustlogo-form {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    overflow: hidden;
	margin-top: 30px;
}

.installation-steps{
	height: 58px;
	border-bottom: 1px solid #e0e0e0;
}

.step{
	background: url(../img/steps-bg.png) no-repeat 0 0 transparent;
	height: 56px;
	width: 313px;
	padding-left: 37px;
	display: inline-block;
	margin: 0 -20px 0 0;
	position: relative;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	line-height: 58px;
}

.step:first-child{
	width: 333px;
	padding-left: 17px;
	border-left: 1px solid #ffffff;
	border-radius: 6px 0 0;
}

.step1{
	z-index: 3;
}

.step2{
	z-index: 2;
}

.step3{
	z-index: 1;
}

.step-number{
	height: 28px;
	width: 28px;
    background-color: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 9px;
	line-height: 28px;
	color: #cccccc;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	display: inline-block;
}

.step-title{
	color: #cccccc;
	font-weight: bold;
	font-size: 16px;
	margin-left: 8px;
}

.step.passed{
	background-position: 0 -112px;
}

.before-passed{
	background-position: 0 -168px;
}

.step.passed .step-title,
.step.before-passed .step-title{
	color: #ffffff;
}

.step.current{
	background-position: 0 -56px;
}

.step.current .step-number,
.step.before-passed .step-number,
.step.passed .step-number{
	color: #3ea215;
	border-color: #3ea215;
}

.step.current .step-title{
	color: #555555;
}	

.install-trustlogo-form-wrapper{
	padding: 30px 29px 29px;
	color: #555555;
	font-size: 15px;
}

.installation-steps-btns{
	border-top: 1px solid #e0e0e0;
	padding: 22px 0 0;
}

.next-btn{
	line-height: 51px;
	padding: 0 30px;
	background-color: #b20e29;
	background: linear-gradient(#cd1b34, #a20a24);
	color: #ffffff;
	font-size: 18px;
	border: 1px solid #8c0a20;
	border-radius: 3px;
	display: inline-block;
	text-decoration: none;
	margin-right: 10px;
	transition: all 0.2s;
}

.next-btn:before{
	content: "»";
	margin-right: 5px;
}

.next-btn:hover{
	background-color: #cd1b34;
	background: linear-gradient(#a20a24, #cd1b34);
	color: #ffffff;
}

.back-btn{
	line-height: 49px;
	padding: 0 39px;
	color: #999999;
	font-size: 18px;
	border: 2px solid #cccccc;
	border-radius: 3px;
	display: inline-block;
	text-decoration: none;
	transition: all 0.2s;
}

.back-btn:hover{
	background-color: #cccccc;
	color: #ffffff;
}

.trustlogos_list {
    display: inline-block;
    margin: 0 0 15px;
}

.trustlogo-type{
	display: inline-block;
	border: 3px solid #efefef;
	border-bottom: 0 none;
	background-color: #efefef;
	border-radius: 8px;
	text-align: center;
	margin: 0 20px 0 0;
}

.logo-img{
	height: 150px;
	background-color: #ffffff;
	border-radius: 7px;
	display: table-cell;
	vertical-align: middle;	
	width: 180px;
	position: relative;
}

.dimension {
    bottom: 7px;
    color: #999999;
    font-size: 11px;
    line-height: 11px;
    margin: 0;
    position: absolute;
    width: 100%;
}

.trustlogo-type a{
	font-size: 13px;
	color: #999999;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 33px;
	font-weight: bold;
}

.install-trustlogo-form select {
    color: #cccccc;
    font-size: 15px;
    font-style: italic;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
	margin: 0 0 20px 5px;
}

.install-trustlogo-form select option {
    color: #777777;
    font-style: normal;
    padding: 10px;
}

.install-trustlogo-form .alert1,
.install-trustlogo-form .alert2,
.install-trustlogo-form .alert3{	
	border: 1px solid #c35b1f;
	display: inline-block;
	border-radius: 5px;
	padding: 2px;
}

.install-trustlogo-form .alert1 span,
.install-trustlogo-form .alert2 span,
.install-trustlogo-form .alert3 span{	
	display: inline-block;
}

.install-trustlogo-form .alert1{
	color: #c35b1f;	
	margin: 0 0 40px;
	font-size: 14px;
}

.install-trustlogo-form .alert1 span{
	background-color: #faece4;
	line-height: 29px;
	padding: 0 10px;
}

.install-trustlogo-form .alert2{
	color: #555555;
	border-color: #d8c285;
	margin: 0 0 13px;
	font-size: 13px;
	background-color: #faf8e4;
	width: 100%
}
.install-trustlogo-form .alert2 #imgShow{float: left;padding: 10px;}
.install-trustlogo-form .alert2 span{
	display: block;
	line-height: 15px;
	padding: 17px 18px 14px;
}

.install-trustlogo-form .alert3{
	color: #647f9d;
	border-color: #85bad8;
	display: block;
	margin: 0 0 40px;
	line-height: 15px;
	font-size: 13px;
}

.install-trustlogo-form .alert3 span{
	background-color: #edf5f8;
	display: block;
	line-height: 15px;
	padding: 17px 18px 14px;
}

.install-trustlogo-form input[type="text"]{
	line-height: 34px;
	height: 34px;
	width: 560px;
	padding: 0 10px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	font-style: italic;
	color: #555555;
	margin: 0 5px 145px 0;
}

.step2Btn{
	line-height: 32px;
	padding: 0 37px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	color: #555555;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	box-shadow: 2px 3px 0 #f2f2f2;
	background-color: #f8f8f8;
	background: linear-gradient(#fdfdfd, #f4f4f4);
	transition: all 0.2s;
	width: auto;
}

.step2Btn:hover{
	color: #ffffff;
	background: none;
	background-color: #555555;
}

.snippets-area{
	display: table-row;
	position: relative;
}
.snippets-area textarea{background-color: #353535;width: 420px;border: medium none;color: #ffffff;font-size: 15px;resize: none;}

.snippet{
	display: table-cell;
	background-color: #353535;
	border-radius: 5px;
	width: 450px;
	overflow: hidden;
	color: #ffffff;
}

.spacer{
	display: table-cell;
	width: 20px;
}

.cod-snippet{
	/*border-top: 1px solid #e0e0e0;*/
	padding: 0 0 10px;
}

.snippet-title{
	font-size: 15px;
	font-weight: bold;
	display: block;
	background-color: #b2c071;
	line-height: 30px;
	padding: 0 20px;
}

.snippet-code {
    display: block;
    padding: 15px 20px 40px;
	font-family: "Courier New", Courier, monospace;
}
	

	
.video:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.video {
    background: transparent url("../img/overlay-bg.png") repeat scroll 0 0;
    display: none;
    height: 100%;
    left: 0;
    line-height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
	text-align: center;
}

.video_wrapper {
    background-color: #ffffff;
    display: inline-block;
    padding: 15px 15px 12px;
	border-radius: 5px;
    position: relative;
    vertical-align: middle;
}

.close_btn {
    background: transparent url("../img/close.png") no-repeat scroll center 0;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    position: absolute;
    right: -15px;
    top: -13px;
    width: 30px;
}

.close_btn:hover {
    background-position: center bottom;
}



.outer-wrapper{width:1000px; margin:auto;}
.outer-curved-wrapper{width:483px; float:left; border:1px solid #dfdfdf; border-radius:5px; background:#FFFFFF; margin-top:20px;min-height: 811px;}
.inner-curved-wrapper{width:421px; border:1px solid #dfdfdf; border-radius:5px; margin:auto; background:#fcfbfb; padding:15px 20px 55px 20px; margin-bottom:10px;min-height: 689px;}


.img-wrapper{ width:calc(); float:left; padding-right:15px;}
.img-wrapper span {color: #8c8f98;display: block;float: right;font-size: 10px;font-style: italic;margin: 25px 10px 0;}
.thawatee-img span {color: #8c8f98;display: block;float: right;font-size: 10px;font-style: italic;margin: 25px 10px 0;}
.txt-wrapper{border-bottom:2px solid #000; clear:both;}
.txt-wrapper p{ color:#000; font-size:16px; line-height:45px;}
.txt-wrapper span{ color:#bf2e1a; font-size:20px;}
.txt-inner-wrapper{ float:right; width:calc(100% - 54% / 2);}
.txt-heading{font-size:16px; color:#999999; padding-bottom:10px;}
.rght{float:right!important;}
.thawatee-img{ float:left;}
.txt-inner-wrapper{ color:#6ca80e; font-weight:bold; font-style:italic; font-size:13px;}
.txt-inner-wrapper span{ color:#6ca80e; font-weight:bold; font-style:italic; font-size:16px;}
.txt-heading span{font-size:16px; color:#3f89b7;}
.button{width:180px;padding:20px 0px;float: left;}
.heading{ font-size:20px; color:#333333; padding:8px;}
.blocks .leftBlock .heading{color: #333333 !important;font-size: 20px !important;font-weight: 300 !important;line-height: 16px !important;text-align: left !important;}
.blocks .rightBlock .heading{color: #333333 !important;font-size: 20px !important;font-weight: 300 !important;line-height: 16px !important;text-align: left !important;}
.blocks .fullBlock .heading{color: #333333 !important;font-size: 20px !important;font-weight: 300 !important;line-height: 16px !important;text-align: left !important;}
.blocks .heading{color: #333333;font-size: 20px;font-weight: 300;line-height: 16px;padding: 8px;}
.outer-curved-wrapper ul{border-top:1px #d7d7d7 dotted; padding-top:25px; clear:both;list-style: none outside none;}
.outer-curved-wrapper ul li{background:url(../img/green-tick-icon.png) no-repeat 0 6px; padding-left:25px; line-height:20px; margin-bottom:15px; font-size:12px;}
.outer-curved-wrapper .imgDiv{height: 65px;}
.outer-curved-wrapper .priceYear{font-size: 16px;font-style: italic;color: #4698d0;float: left;margin: 0;padding: 28px 0 0 10px;font-weight: bold;}
.top-content{border: 1px solid #dfdfdf;border-radius: 5px;background-color: #ffffff;}
.top-content .left, .top-content .right{float: left;}
.top-content .left{padding: 0 215px 0 0;}
.top-content .left .heading{color: #555555; font-size: 15px;font-family: arial,sans-serif;font-weight: bold;margin: 0;padding: 50px 0 30px 30px;}
.top-content .left .subHeading{color: #555555; font-size: 15px;font-family: arial,sans-serif;margin: 0;padding: 0 0 0 30px;}
.top-content .left .list{list-style: none;margin: 10px 0 0;padding: 0 0 0 65px;}
.top-content .left .list li{color: #4180d5;text-decoration: underline;}
.top-content .left.left-side { padding: 0 80px 0 0; }
.top-content .right{border: 1px solid #85bad8;background-color: #edf5f8;margin: 2px;border-radius: 5px;margin: 50px 0 0;}
.top-content .right p{font-family: arial,sans-serif;width: 265px;color: #647f9d;font-style: italic;padding: 18px;margin: 0;}
.top-content .bottomText{font-family: arial,sans-serif;color: #555555;font-size: 13px;margin: 50px 30px;}
#sele-bg{display: none;}
.trustlogo_white, .trustlogo_black, .trustlogo_colored, .trustlogo_white{display: none;}